body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
  padding-top: 5rem;
}

.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;

  border: 1px solid #ccc;
  border-radius: 4px;
}

.todo__input {
  margin-right: 1rem;
}

.todo__btn {
  color: white;

  background-color: red;
  border-radius: 50%;
  border: none;
}

.done {
  text-decoration: line-through;
}
